.App {
  /* margin: 0; */
  text-align: center;
  height: 3000px;
}

.bt-green{
  color: rgb(73, 149, 87);
}

.text-green{
  color: rgb(73, 149, 87);
}

.textSize{
  font-size: 30px;
}

.center-content{
  margin-top: 420px;
}
.later-spc{
  letter-spacing: 1px;
}

.slider-padd{
  padding: 10px;
}
h3{
  text-align: center;
}
h1{
  text-align: center;
}
.move-left{
  text-align: left;
  margin: auto;
}

.hello{
  position: relative;
    height: 120vh;
     /* background: linear-gradient( rgba(0, 0, 0,0.5) ,rgba(0, 0, 0,0.5)) ,url('../image/image1.jpg');  */
     background-image: url(../image/main.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.top{
  height: 600px;
  display: grid;
  grid-template-columns: 50% 47%;
}


.left{
  /* border: 2px solid black;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.788); */
  margin: 50px;
  /* padding: 220px; */
}
.right{
  /* border: 2px solid black; */
  /* box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.788); */
  margin: 50px;
}
/* &&&&&&&&&&&&&& page 2************* */
.white{
  color: white;
  padding: 10px;
}
.height{
  background-color: rgb(73, 149, 87);
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.height-right{
  background-color: rgb(205, 153, 56);
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.height-right-below{
  background-color: rgb(205, 153, 56);
  height: 70px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}
.height-left-below{
  background-color: rgb(73, 149, 87);
  height: 70px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 10px;
}

/* .height{
  background-color: rgb(30, 107, 30);
  height: 60px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
} */
.page2-button{
  /* padding: auto; */
  height: 50px;
  margin-top: 20px;
}
.below-block{
  background-color: rgb(221, 212, 212);
}

.page2{
  margin-top: 500px;
  
}



/* *********** Page 1 */

.page1-div{
  margin-top: 100px;
}

.page1{
  height: 700px;
  display: grid;
  grid-template-columns: 45% 50%;
}
.page1-left{
  /* border: 2px solid black; */
  margin-top: 100px;
  margin-left: 20%;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.788);
  /* padding: 220px; */
}
.page1-right{
  /* border: 2px solid black; */
  margin-top: 100px;
  margin-right: 20%;
  margin-left: 50px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.788);
}



/* app2 */
.App2-section{
  margin: 20px;
}


/* Page1 image section*/
.abc{
  height: 350px;
  width: 500px;
  /* border: 2px solid brown;
  border-radius: 20px; */
  position: relative;
  background-image: url("../image/img11.png");
  background-position: contain;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.788);
  
}
.abc1{
  height: 350px;
  width: 500px;
  /* border: 2px solid brown;
  border-radius: 20px; */
  position: relative;
  background-image: url("../image/img22.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.788);
}
.abc2{
  height: 350px;
  width: 500px;
  position: relative;
  background: url("../image/img33.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.788);
}
.abc3{
  height: 350px;
  width: 500px;
  position: relative;
  background-image: url("../image/img44.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.788);
}


/* *****************   Last page  *************** */

.page2-devsion{
  
  height: 200px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
}

.page2-content{
  /* border:  2px solid rebeccapurple; */
  width: 200px;
  margin-left: 40%;
}

.circle{
  margin: auto;
  width: 130px;
  height: 130px;
  border: 10px solid rgb(73, 149, 87);
  border-radius: 50%;
  box-shadow: 5px 5px 20px rgba(0.2, 0.2, 0.2, 0.588);
}

.circle-content{
  font-size: 40px;

}

